*{
    background-color: rgb(236, 197, 150);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 80px;
    text-align: center;
}

ul{
    font-size: 30px;
}

.pizza{
    text-align: center;
}

.bife{
    text-align: left;
}

.strogonoff {
    text-align: end;
}